*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Hind,sans-serif;
/* color: #212529;
line-height: 1.5;
background-color: #fff */
}
.title {
    max-width: 750px
}

.title h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600
}

.title p {
    color: #585858;
    line-height: 24px
}
.overlay {
    background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}
/* Header */
header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%)
}

header .navbar_logo {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

header .navbar_logo i {
    font-size: 45px;
    color: #35a22c
}

#navbarPort .nav-item {
    margin: 0 10px
}

#navbarPort .nav-item .nav-link {
    color: #fff;
    transition: all .5s
}

#navbarPort .nav-item:hover .nav-link {
    color: #35a22c
}

#navbarPort .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: block;
    transition: all .5s
}

#navbarPort .nav-item:hover::after {
    width: 100%
}

#navbarPort .nav-item.active .nav-link {
    color: #35a22c
}

#navbarPort .nav-item.active::after {
    width: 100%
}

header .navbar-toggler {
    background-color: #35a22c
}

header .navbar-toggler:hover {
    background-color: #0ea8cf
}

@media screen and (max-width: 991.98px) {
    header .navbar-collapse {
        background-color:#fff
    }

    #navbarPort .nav-item {
        margin: 0;
        padding: 0 10px
    }

    #navbarPort .nav-item:hover {
        background-color: #35a22c
    }

    #navbarPort .nav-item .nav-link {
        color: #35a22c
    }

    #navbarPort .nav-item:hover .nav-link {
        color: #fff
    }

    #navbarPort .nav-item.active::after,#navbarPort .nav-item:hover::after {
        width: 0
    }
}

@media screen and (max-width: 376px) {
    header .navbar_logo i {
        font-size:8vw
    }

    header .navbar_logo {
        font-size: 7vw
    }
}
/* Header end */

/* Carousel */
.Carousel .carousel-item {
    height: 100vh
}

.Carousel .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.Carousel .carousel-caption h5 {
    font-size: 56px;
    line-height: 65px
}

.Carousel .carousel-caption p {
    font-size: 24px
}

.carousel__thumb {
    width: 140px;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    backdrop-filter: blur(3px)
}

.carousel-caption img {
    width: 140px;
    border-radius: 50%;
    margin: auto
}

.Carousel .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none
}

.Carousel .carousel-indicators li.active {
    background-color: #35a22c
}

.carousel-indicators {
    bottom: 10%
}

.carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.carousel-item:nth-child(1) {
    background-image: url(image/finland.jpg)
}

.carousel-item:nth-child(2) {
    background-image: url(image/mountains.jpg)
}

.carousel-item:nth-child(3) {
    background-image: url(image/mountains-1.jpg)
}

@media screen and (max-height: 415px) {
    .carousel-caption img {
        width:100px
    }

    .Carousel .carousel-caption h5 {
        font-size: 5vw;
        line-height: 5vw
    }

    .Carousel .carousel-caption p {
        font-size: 3vw
    }

    .carousel-caption {
        padding-top: 0
    }
}

@media screen and (max-width: 320px) {
    .carousel__thumb {
        width:120px
    }

    .carousel-caption img {
        width: 120px
    }

    .Carousel .carousel-caption h5 {
        font-size: 10vw;
        line-height: 10vw
    }

    .Carousel .carousel-caption p {
        font-size: 5vw
    }

    .carousel-caption {
        padding-top: 0
    }
}
/* Carousel end */

/* Products */
.products_item {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 .4rem rgba(0,0,0,.13);
    border: none;
    cursor: pointer
}

.products_item p {
    color: #585858
}

.products_item .card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all .5s
}

.products_item:hover .card-body {
    border-color: #35a22c;
    border-top-color: transparent
}

.products_item:hover h3 {
    color: #35a22c
}

.products .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px
}

.products .nav-pills .nav-link.active,.products .nav-pills .show>.nav-link {
    background-color: #35a22c;
    color: #fff;
    border-color: #35a22c
}

@media screen and (max-width: 575.98px) {
    .products_content .nav .nav-link {
        padding:.5rem
    }

    .bg-overlay {
        background-position: right top
    }
}

@media screen and (max-width: 415px) {
    .products_content .nav .nav-item {
        margin-bottom:1rem
    }
}
/* Products End */

/* Feature */
.feature {
    background: url(image/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative
}
.feature .overlay {
    background: rgba(7,10,12,.72)
}

.feature .title {
    position: relative
}

.feature_item {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s
}

.feature_item i {
    font-size: 48px;
    color: #35a22c
}

.feature_item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800
}

.feature_item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff
}

.feature_item:hover {
    background: #000;
    border-color: #fff
}
/* Feature End */

/* achievement */
.achievement {
    position: relative;
    color: #585858;
    padding: 70px 0
}

.achievement_bg {
    background-image: url(image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.achievement_left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 45px
}

.achievement_right {
    padding: 45px 0
}

@media screen and (max-width: 575.98px) {
    .achievement_bg {
        background-size:cover
    }
}
/* achievement End*/

/* footer */
.footer {
    background: #222;
}

.footer a {
    color: #aaa;
}

.footer p {
    color: #aaa;
    margin: 0
}

.footer a:hover {
    text-decoration: none;
    color: #35a22c
}

.footer_social i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s
}

.footer_social a {
    margin-right: 10px
}

.footer_social a:last-child {
    margin-right: 0
}

.footer_copyright {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px
}

.footer_social i:hover {
    border-color: #35a22c
}
/* footer End*/